pipeline/bronce_to_silver.json
{
	"name": "bronce_to_silver",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "entitiesJson",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "entities_var",
					"value": {
						"value": "@activity('Lookup1').output.firstRow",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"entities_var": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-23T05:29:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}