pipeline/bronce_to_silver_parallel.json
{
	"name": "bronce_to_silver_parallel",
	"properties": {
		"activities": [
			{
				"name": "Read JSON",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create Silver Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "entitiesJson",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iiterate Entities",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Store JSON formated variables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('entities_to_run_arr')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 13,
					"activities": [
						{
							"name": "Create Silver Table",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat('/Repos/davidhernandezmty@hotmail.com/exercises_nb/silver_transformations/',item(),'__silver') ",
									"type": "Expression"
								},
								"baseParameters": {
									"entity": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linkedServiceDavidDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Store JSON formated variables",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "entities_to_run_arr",
					"value": {
						"value": "@activity('Read JSON').output.value[0].entities",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Create Silver Schema",
				"type": "DatabricksNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/davidhernandezmty@hotmail.com/exercises_nb/create_silver_schema"
				},
				"linkedServiceName": {
					"referenceName": "linkedServiceDavidDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"entities_to_run_arr": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-23T05:29:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}